<div class="container">
  <div class="row">
    <div class="form">
    <%= render 'form', book: @book %>
    </div>
  </div>
  <div class="row">
    <div id="book-title">
      <%= render partial: 'book_index', collection: @books, as: :book %>
    </div>
  </div>
</div>

<%= link_to 'login', new_user_session_path  %>

<%= link_to "signup", new_user_registration_path %>